# When `zola build` is run, the static content is generated and placed in the `public/` directory.
# We don't want to upload local build artifacts to GitLab and will instead rely on GitLab CI 
# to generate the content and serve it.
public/

#resources/
